body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(8, 7, 7);
  color: white;
}

header {
  background-color: palevioletred;
  color: rgb(15, 12, 12);
  padding: 20px;
  display:block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color:rgb(241, 234, 234);
  text-decoration: none;
}

.section {
  padding: 50px;
  text-align: center;
  border:1px solid rgb(236, 230, 230);

}

.section h1,
.section h2 {
  margin-bottom: 20px;
  font-display: white;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item img {
  max-width: 80%;
  max-height: 400px;
  border:2px solid white;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

form button {
  padding: 10px 20px;
  background-color: rgb(248, 238, 238);
  color:rgb(15, 13, 13);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color:palevioletred;
}